
#form-container{
    position: relative;
    background-color: var(--bg-overlay);
    border-radius: 2rem;
    width: 40%;
    height: fit-content;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo_sito{
    position: absolute;
    width: 10rem;
    top: -5rem;    
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 3px solid var(--pitch-medium);
    z-index: 10;
}
form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
h3{
    text-align: center;
    color: var(--pitch-medium);
}
.campo > input,
td > input{
    height: 2rem;
    border: 2px solid var(--pitch-medium);
    text-align: center;
    border-radius: 1rem;
}
label > img{
    height: 4rem;
    margin-right: 1rem;
}
#login,
#registration{
   font-size: large;
}
#form-container > p{
    font-size: large;
    text-align: center;
}
#form-container > p > a{
    color: var(--pitch-medium);
}
#error-msg{
    font-size: large;
    color: red;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}
/*spazio per gestire la tabella nella registrazione*/
tbody{
    width: 80%;
}
tr{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5%;
}
td{
    width: 80%;
}
td > input{
    width: 100%;
}
