/*sezione font*/
@font-face {
    font-family: 'DiarioFont';
    src: url('../src/fonts/teko/Teko-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DiarioFont';
    src: url('../src/fonts/teko/Teko-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DiarioFont';
    src: url('../src/fonts/teko/Teko-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DiarioFont';
    src: url('../src/fonts/teko/Teko-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'DiarioFont';
    src: url('../src/fonts/teko/Teko-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    /*variabili per i colori*/
    --pitch-dark: #0e3c26;  
    --pitch-medium: #1f8a4c; 
    --pitch-light: #2ecc71;  
    --text-main: #333333;
    --text-white: #ffffff;
    --bg-overlay: rgba(255, 255, 255, 0.95); 
    --shadow-soft: 0 8px 30px rgba(0,0,0,0.12);
    
    /* Font Stack con il font che ho scelto*/
    --font-stack: 'DiarioFont','Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


body{
    background-image: url('../src/images/sfondo_sito_icone_small.png');
    background-color: #e0e0e0;
    font-family: 'DiarioFont',Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 60px;
    margin: 0;
}
#logo_sito{
    position: absolute;
    width: 10rem;
    background-color: white;
    border-radius: 50%;
    top: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px;
}
#form_container,
#container{
    width: 80%;
    height: fit-content;
    background-color: var(--bg-overlay);
    border-radius: 2rem;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}
select:focus, 
textarea:focus{
    outline: none;
    border-color: var(--pitch-medium);
    box-shadow: 0 0 5px rgba(31, 138, 76, 0.3);
}
button[type="submit"],
.bottone_dialog,
#back_home{
    background-color: var(--pitch-medium);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
#back_home{
    margin-right: 2rem;
}
button[type="submit"]:hover,
.bottone_dialog:hover,
#back_home:hover{
    background-color: #166638;
}
button[type="submit"]:disabled,
.bottone_dialog:disabled{
    filter: grayscale(100%) opacity(0.5); 
    cursor: not-allowed;
}
.bordered{
    border: 3px solid var(--pitch-medium);
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: -10;
}
.hidden {
    display: none !important;
}
.header_sito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.header_sito h1 {
    color: white;
    position: absolute;       
    left: 50%;                
    transform: translateX(-50%); 
    margin: 0;                
    white-space: nowrap;  
    font-size: 6rem;
    text-transform: uppercase;
}
.high_left{
    display: flex;
    align-items: center;
    float: left;
}
#logo_sito_hl {
    height: 100px;
    margin-right: 10px;
}
.high_right{
    position: relative;
    float: right;
}
.high_right button {
    background: none;      
    border: none;          
    padding: 1rem;            
    cursor: pointer;       
}
.high_right button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s;
}
.profile-pic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 2rem;
}
.main_sito {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    height: auto;
}
.bacheca,
.sidebar{
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
    overflow-y: auto; 
    padding: 20px;
}
.sidebar {
    padding: 20px;
    padding-bottom: 60px;
}
#contenitore_filtro_post{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
/*Codice che uso per gestire la dialog su Firefox*/
body.modal-open-fallback::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 900; 
    pointer-events: auto;
}
dialog {
    z-index: 1000; 
}
dialog[open]{
    display:block;
}
dialog:not([open]) {
    display: none;
}
h1,h2{
    font-weight: 700;
}
.ancora_utente{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Stile per gli ancor*/
a {
    text-decoration: none;      
    color: var(--text-main);    
    transition: color 0.2s;     
}

a:visited {
    color: var(--text-main);    
}

a:hover {
    color: var(--pitch-medium); 
    cursor: pointer;
}

a:active {
    color: var(--pitch-dark);  
}

.contenitore_bottoni_evento_recensione{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}